body {
    margin-top: 10%;
}

.container {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

header {
    height: 82px;
    width: 793px;
    background-color: #4A4F56;
    text-align: center;
}

h1 {
    padding-top: 19px;
    padding-bottom: 4px;
    margin: 0;
    font-size: 24px;
    color: #FF8984;
    font-family: 'Roboto', sans-serif;
}

header span {
    font-size: 16px;
    color: #FF8984;
    font-family: 'Roboto', sans-serif;
}

.checkbox_container {
    display: inline-block;
    width: 793px;
    height: 425px;
    background-color: #3B3F45;
}



input {
    width: 19px;
    height: 19px;
    margin-left: 12px;
    margin-right: 16px;
}

p {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    font-size: 18px;
    color: white;
}

span {
    font-size: 11px;
    margin-left: 10px;
    color: white;
}

label:first-of-type {
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 534px;
    height: 45px;
    background-color: #88839E;
    margin-left: 130px;
}

label {
    display: flex;
    align-items: center;
    width: 534px;
    height: 45px;
    background-color: #88839E;
    margin-left: 130px;
}

label:last-of-type {
    margin-bottom: 45px;
}

button {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    height: 45px;
    width: 534px;
    margin: 0 auto;
    display: block;
    color: #FF8984;
    background-color: #4A4F56;
    outline: none;
    border: 2px solid #e55c57;
}
button:active, button:focus {
    outline: none;
}

input:checked +  p + span {
    text-decoration: line-through;
    color: #9B96AC;
}

input:checked + p {
    text-decoration: line-through;
    color: #9B96AC;
}

button:hover {
    border: 3px solid #FF8984;
}